name: .NET Core
 
on: 
    push:
        branches:
            - master
 
jobs:
  build:
 
    runs-on: ubuntu-latest
 
    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100
    - name: Build with dotnet
      working-directory: src      
      run: dotnet build --configuration Release
    - name: Unit testing
      working-directory: src
      run: dotnet test --configuration Release
      
